<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show this friend", @friend, class:"btn btn-secondary" %><br><br>
  <%= link_to "Back to friends", friends_path, class:'btn btn-dark' %><br><br>
  <%= button_to "Delete", { action: "destroy", id: @friend.id },
      method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>
